{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <meta http-equiv="refresh" content="3; URL={{ path('main_homepage') }}">
    <div id="confirmRegister">
        <div class="row">
            <div class="col s4 offset-s4">
                <div class="row">
                    <div class="col s6 offset-s3 center">
                        <img src="{{ asset('bundles/main/images/armaLogo.png') }}" alt="armaLogo" class="center responsive-img">
                    </div>
                    <div class="col s12 center">
                        <p style="font-size: 2em">Votre compte à bien été créé, redirection vers l'acceuil en cours...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
