/* line 3, ../sass/_index.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
}

/* line 10, ../sass/_index.scss */
.title {
  text-align: center;
}
/* line 12, ../sass/_index.scss */
.title h1 {
  font-size: 6em;
  margin-top: 70px;
}

/* line 17, ../sass/_index.scss */
.titleRed {
  color: #881814;
}

/* line 20, ../sass/_index.scss */
.btnConnexion {
  margin-top: 70px;
}
/* line 22, ../sass/_index.scss */
.btnConnexion .btn {
  padding-top: 10px;
  padding-bottom: 45px;
  background-color: #881814;
  color: white;
  box-shadow: 0px 5px 5px 0px black;
}

/* line 30, ../sass/_index.scss */
.header {
  border-bottom: solid black 3px;
}

/* line 33, ../sass/_index.scss */
.btnVote {
  margin-top: 15px;
  background-color: #881814;
  color: white;
  box-shadow: 0px 2px 2px 0px black;
}

/* line 40, ../sass/_index.scss */
.btnVote:hover {
  margin-top: 15px;
  background-color: #881814;
  color: white;
  box-shadow: 0px 6px 6px 0px black;
}

/* line 46, ../sass/_index.scss */
.btnVote:focus {
  margin-top: 15px;
  background-color: #881814;
  color: white;
  box-shadow: 0px 6px 6px 0px black;
}

/* line 53, ../sass/_index.scss */
.btnVoteDisabled {
  margin-top: 15px;
  background-color: darkgrey;
  color: grey;
}

/* line 58, ../sass/_index.scss */
.btnVoteDisabled:hover {
  background-color: grey;
  color: white;
}

/* line 62, ../sass/_index.scss */
.btnVoteDisabled:focus {
  background-color: darkgrey;
  color: grey;
}

/* line 66, ../sass/_index.scss */
.nbVote {
  margin-top: 25px;
}

/* line 69, ../sass/_index.scss */
.lesVotes {
  margin-top: 80px;
}

/* line 5, ../sass/_login.scss */
#login .btn {
  background-color: #881814;
  color: white;
  box-shadow: 0px 5px 5px 0px black;
}
/* line 10, ../sass/_login.scss */
#login .btnConnect {
  margin-top: 10px;
}
/* line 13, ../sass/_login.scss */
#login input:focus {
  border-bottom: 1px solid #881814;
  -webkit-box-shadow: 0 1px 0 0 #881814;
  box-shadow: 0 1px 0 0 #881814;
}
/* line 20, ../sass/_login.scss */
#login input[type="checkbox"] + label:before {
  border: 2px solid black;
  background: transparent;
}
/* line 24, ../sass/_login.scss */
#login input[type="checkbox"]:checked + label:before {
  border: 2px solid transparent;
  border-bottom: 2px solid #881814;
  border-right: 2px solid #881814;
  background: transparent;
}
/* line 30, ../sass/_login.scss */
#login input.filled-in[type="checkbox"] + label:after {
  border: 2px solid #881814;
  background: transparent;
}
/* line 34, ../sass/_login.scss */
#login input.filled-in[type="checkbox"]:checked + label:after {
  background: #881814;
}
/* line 37, ../sass/_login.scss */
#login .errorMsg {
  margin-top: 5px;
}
